@import "tailwindcss";

@import "aos/dist/aos.css";
@import 'react-phone-input-2/lib/style.css';
@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/autoplay";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --color-dark-green: #10410F; */
  /* --color-light-green: #A2D95E; */
  /* --color-dark-orange: #FF6F3C; */
  /* --color-light-orange: #FF9A65; */
  --color-light-orange: #F54A00;
  --color-dark-orange: #FF6900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1600px;
  margin: 0 auto;
}

.no-scrollbar::-webkit-scrollbar {
display: none;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.project-slider .swiper-slide {
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 1;
  transform: scale(0.9);
}

/* .project-slider .swiper-slide-active {
  z-index: 10;
  transform: scale(1);
} */
.project-slider .swiper-slide-active {
  transform: scale(1);
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
